<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="fort collins, loveland, greeley, sprinkler installation, sprinkler system, sprinkler repair,
          landscaping, snow removal, winterization, mowing, fertilization, Christmas lighting, holiday lighting, 
          snow plow, automatic sprinkler, lawn care, sonrise, sonrise sprinkler, dave, dave schellhase">

    @RenderSection("DescriptionMeta", false)
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/x-icon" />

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="brand">Sonrise Sprinklers and Landscape</div>
    <div class="address-bar">970.237.9509 | sonrisesprinklers@gmail.com</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Sonrise Sprinklers</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Irrigation", "Index", "Irrigation", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Aeration", "Index", "Aeration", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Fertilization", "Index", "Fertilization", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Mowing", "Index", "Mowing", new { area = "" }, null)
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Landscape", "Index", "Landscape", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Snow Removal", "Index", "SnowRemoval", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Holiday Lighting", "Index", "HolidayLighting", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "" }, null)
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Sonrise Sprinklers and Landscape 2014</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
